.restaurant-details_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
}

.restaurant-link {
  text-decoration: none;
  display: block;
  width: 100%;
  color: var(--secondary-colour);
  margin-top: 0.5rem;
}
