.restaurant-accordion-data-container {
  background-color: var(--accent-colour);
  color: var(--secondary-colour);
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-restaurant-details {
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-colour-light);
  margin: 0.5rem 0;
}
