.main-restaurant-details {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  border: 2px solid darkblue;
  margin: 5px;
  padding: 5px;
}

.main-restaurant-details_name {
  font-size: 1rem;
  font-weight: bold;
  color: darkblue;
}

.main-restaurant-details_address {
  font-size: 0.8rem;
  color: darkblue;
}

.main-restaurant-details_email,
.main-restaurant-details_phone {
  font-size: 0.8rem;
  color: darkblue;
  font-style: italic;
}

.main-restaurant-details_type,
.main-restaurant-details_cuisine {
  font-size: 0.8rem;
  color: darkblue;
  font-weight: bold;
}
