.main-edit-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.edit-bookings-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: var(--accent-colour);
  color: var(--secondary-colour);
  padding-bottom: 4rem;
  width: 300px;
}

.edit-bookings-content-heading {
  font-size: 2rem;
  text-align: center;
  color: var(--secondary-colour);
  margin: 3rem 0 -1rem 0;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-input {
  padding: 0.75rem;
  border: 2px solid var(--border-colour);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
}

.booking-cancel-link {
  width: 100%;
}

.booking-change-button,
.booking-cancel-button {
  width: 100%;
  height: 60px;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
}

.booking-change-button:hover,
.booking-cancel-button:hover {
  background-color: var(--hover-colour);
}

.table-select,
.timeSlot-select {
  height: 30px;
}

@media (max-width: 600px) {
  .buttons-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .booking-change-button,
  .booking-cancel-button {
    width: 100%;
  }
}
