@import "../components/header/header.css";
@import "../components/showMyBookings/showMyBookings.css";
@import "../components/showMyBookings/showMyBookingsContent.css";
@import "../components/restaurantDetail/restaurantMainDetails/restaurantMainDetails.css";
@import "../components/restaurantDetail/restaurantImages/restaurantImages.css";
@import "../components/restaurantData/showrestaurantData.css";
@import "../components/restaurantData/createRestaurantData/createRestaurantData.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

:root {
  --hero-button-bg-colour: #303080;
  --hero-button-colour: whitesmoke;
  --hero-button-width: 150px;
  --hero-button-height: 100px;
  --button-bg-colour: #535252;
  --button-colour: var(--hero-button-colour);
  --button-width: 150px;
  --button-height: 40px;
}

.allPages {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #151515,
    #222222,
    #303030,
    #3f3e3e,
    #4b4041,
    #564346,
    #60454d,
    #643b52,
    #61325d,
    #532e6d,
    #303080
  );
}

.backgroundImage {
  position: relative;
  background-image: url("/landing.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
}

.landing-page-hero-link-container {
  position: absolute;
  top: 180px;
  right: 10px;
}

.landing-page-hero-link {
  width: var(--hero-button-width);
  height: var(--hero-button-height);
  border: none;
  outline: none;
}

.landing-page-hero-button {
  width: var(--hero-button-width);
  height: var(--hero-button-height);
  border: none;
  outline: none;
  padding: 5px;
  background-color: var(--hero-button-bg-colour);
  color: var(--hero-button-colour);
  font-size: 1.5rem;
  cursor: pointer;
}

.general-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

.general-page-heading {
  margin-top: 5px;
  color: var(--button-colour);
}

.general-label {
  width: 200px;
  margin: 5px 5px 0 5px;
  color: var(--button-colour);
  padding: 5px;
}

.general-input {
  width: var(--button-width);
  height: var(--button-height);
  margin: 0 5px 10px;
  padding: 5px;
}

.general-link {
  width: 170px;
  height: 50px;
  border: none;
  outline: none;
}

.return-button {
  width: var(--button-width);
  height: var(--button-height);
  border: none;
  outline: none;
  margin: 5px 5px;
  padding: 5px;
  background-color: var(--button-bg-colour);
  color: var(--button-colour);
  font-size: 1rem;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 100%;
  height: 40px;
}

.copyright {
  padding-left: 10px;
}

.name-text {
  padding-left: 20px;
}

.footer-text {
  color: var(--button-colour);
  font-size: 1rem;
}
