@import "../components/header/header.css";
@import "../components/footer/footer.css";
@import "../components/showMyBookings/showMyBookings.css";
@import "../components/showMyBookings/showMyBookingsContent.css";
@import "../components/restaurantData/editRestaurantData/editRestaurantData.css";
@import "../components/editBooking/editBooking.css";
@import "../components/restaurantDetail/restaurantMainDetails/restaurantMainDetails.css";
@import "../components/restaurantDetail/restaurantImages/restaurantImages.css";
@import "../components/restaurantData/showrestaurantData.css";
@import "../components/restaurantData/createRestaurantData/createRestaurantData.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-colour: #090909;
  --secondary-colour: #e8e8e8;
  --text-colour-light: #a5a5a5;
  --border-colour: #707070;
  --accent-colour: #393939;
  --hover-colour: #a5a5a5;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-arimo);
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

.backgroundImage {
  background-image: url("/landing.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.landing-page-hero-link-container {
  background-color: rgba(9, 9, 9, 0.7);
  padding: 2rem;
  border-radius: 10px;
}

.landing-page-hero-link {
  text-decoration: none;
}

.landing-page-hero-button {
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  border: none;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, background-colour 0.3s ease;
  border-radius: 8px;
  font-family: inherit;
}

.landing-page-hero-button:hover {
  background-color: var(--hover-colour);
  transform: scale(1.05);
}

.bookings-page-container {
  background-color: var(--primary-colour);
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
}

.bookings-page-heading {
  margin: 0 0 5px 2px;
  color: var(--secondary-colour);
}

.return-link {
  text-decoration: none;
  display: block;
  width: 100%;
}

.return-button {
  background-color: transparent;
  color: var(--secondary-colour);
  border: 2px solid var(--border-colour);
}

.return-button:hover {
  background-color: var(--primary-colour);
  border-color: var(--secondary-colour);
}
