.header {
  background-color: rgba(9, 9, 9, 0.8);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.navigation-link,
.home-link {
  text-decoration: none;
  color: var(--text-colour-light);
  font-weight: bold;
}

.navigation-link:hover {
  color: var(--secondary-colour);
}
