.header {
  width: 200px;
  height: auto;
  position: absolute;
  z-index: 9;
  top: 20px;
  right: -40px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navigation-link {
  width: var(--button-width);
  height: var(--button-height);
  border: none;
  outline: none;
}

.navigation-button {
  width: var(--button-width);
  height: var(--button-height);
  border: none;
  outline: none;
  padding: 5px;
  background-color: var(--button-bg-colour);
  color: var(--button-colour);
  font-size: 1rem;
  cursor: pointer;
}
