.main-restaurant-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 4rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.show-my-restaurant-container {
  display: flex;
  justify-content: center;
  height: 250px;
  padding: 1rem;

  background-color: var(--accent-colour);
  color: var(--secondary-colour);
}

.show-my-restaurant-get-email-form {
  background-color: var(--accent-colour);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.restaurant-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: var(--accent-colour);
  color: var(--secondary-colour);
  padding-bottom: 4rem;
}

.restaurant-content-heading {
  font-size: 2rem;
  text-align: center;
  color: var(--secondary-colour);
  margin: 3rem 0 -3rem 0;
}

.restaurant-content-card {
  background-color: var(--accent-colour);
  color: var(--secondary-colour);
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.restaurant-accordion-content {
  padding: 10px;
  padding-left: 20px;
  background-color: var(--border-colour);
}

.restaurant-accordion-header {
  color: var(--secondary-colour);
  font-weight: bold;
  padding: 5px 0;
}

.restaurant-accordion-data-container {
  padding-top: 10px;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px;
  background-color: var(--accent-colour);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-booking-info,
.table-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 5px;
  background-color: var(--accent-colour);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.restaurant-info-label {
  font-size: 0.9rem;
  color: var(--text-colour-light);
  text-align: center;
}

.restaurant-info-h4 {
  color: var(--secondary-colour);
  margin-top: 0.5rem;
  text-align: center;
}

.booking-info {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

.restaurant-buttons-container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.restaurant-create-link {
  text-decoration: none;
  display: contents;
}

.restaurant-create-button {
  flex-grow: 1;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  white-space: nowrap;
}

.restaurant-create-button:hover {
  background-color: var(--hover-colour);
  transform: scale(1.02);
}

.restaurant-show-bookings-link {
  text-decoration: none;
  display: contents;
}

.restaurant-show-bookings-button {
  flex-grow: 1;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  white-space: nowrap;
}

.restaurant-show-bookings--button:hover {
  background-color: var(--hover-colour);
  transform: scale(1.02);
}

.opening-times-container {
  display: flex;
  gap: 0.6rem;
}

.opening-times-day {
  font-size: 1.2rem;
  width: 100%;
  color: var(--text-colour-light);
  font-weight: bold;
}

.opening-times-range {
  font-size: 0.9rem;
  color: var(--secondary-colour);
}

@media (max-width: 600px) {
  .restaurant-buttons-container {
    flex-direction: column;
    gap: 0.5rem;
  }
}
